body {
  scrollbar-face-color:#999999;
  scrollbar-arrow-color:#ffffff;
  scrollbar-track-color:#CCCCCC;
  scrollbar-shadow-color:#666666;
  scrollbar-highlight-color:#B1B1B1;
  scrollbar-3dlight-color:#B1B1B1;
  scrollbar-darkshadow-color:#666666;
  background-color: #000000;
  color: #FFA500;
}

nav ul {
  margin:0; 
	padding:0;
}

nav ul li {
  display:inline; 
	margin:5px;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

table,th,td,footer {
  border : 1px solid black;
  border-collapse: collapse;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
th,td {
  padding: 3px;
}

.industryProduction {
	color: #AAA500;
}

.industryMEResearch {
	color: #0072C6
}

.industryTEResearch {
	color: #AAA500;
}

.industryCopy {
	color: #339966;
}
.industryInvention {
	color: #AAA500;
}

.tableDataNumber {
  text-align: right;
}

.BPO {
	color: #0066ff;
}

.BPC {
	color: #99ccff;
}

